@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Allerta");
body {
  font-family: 'Allerta', sans-serif;
  margin: 0; }

.container {
  width: 80%;
  margin: 0 auto;
  position: relative; }

.background {
  background-image: url("../images/background.png");
  background-size: cover; }

main {
  margin: 50px 0; }

table {
  width: 100%; }
  table th {
    text-align: left;
    background: #273b47;
    padding: 10px 20px;
    color: white; }
  table td {
    padding: 20px; }

table, th, td {
  border: 1px solid #273b47;
  border-collapse: collapse; }

input, textarea {
  outline: 0;
  padding: .2em; }
  input:focus, textarea:focus {
    background: lightgray; }

.header {
  position: relative; }
  .header .header__logotipo {
    margin-left: 0; }

.header__logotipo, .menu, .menu__item {
  display: inline-block; }

.menu {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 15px; }
  .menu .menu__item {
    margin-left: 30px; }
    .menu .menu__item .menu__item--ancla {
      color: white;
      text-decoration: none; }
    .menu .menu__item::before {
      content: "■";
      font-size: 10px;
      margin-right: 5px;
      color: white; }

.cover {
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  height: 450px; }
  .cover .cover__title {
    font-size: 70px;
    margin-bottom: 0;
    margin-top: 70px; }
    .cover .cover__title span {
      text-decoration: underline; }
  .cover .cover__subtitle {
    font-size: 24px;
    margin-top: 0; }

.cover__botton {
  background: #fd324e;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(left, top), color-stop(#fe344e), to(#ff7250));
  background: -webkit-linear-gradient(top left, #fe344e, #ff7250);
  background: -o-linear-gradient(top left, #fe344e, #ff7250);
  background: linear-gradient(top left, #fe344e, #ff7250);
  border: none;
  border-radius: 12px;
  color: white;
  margin-bottom: 70px;
  padding: .5em 1em;
  font-weight: normal;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none; }

.guitars-container {
  color: #1F313C;
  margin-bottom: 3em; }
  .guitars-container .guitars__title {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif; }
  .guitars-container .guitars-container__guitar--title {
    font-size: 50px;
    margin-bottom: 30px; }
  .guitars-container .guitars-container__guitar {
    border: 1px solid #1F313C;
    border-radius: 8px;
    /*overflow: hidden;*/
    padding: 10px; }
    .guitars-container .guitars-container__guitar li {
      margin-left: 15px; }
    .guitars-container .guitars-container__guitar .right {
      float: right;
      position: relative;
      top: -127px; }
    .guitars-container .guitars-container__guitar .left {
      float: left;
      position: relative; }
    .guitars-container .guitars-container__guitar .container-guitars-a {
      margin-left: 20px;
      position: relative;
      bottom: 40px; }
      .guitars-container .guitars-container__guitar .container-guitars-a ol {
        padding-left: 0; }
    .guitars-container .guitars-container__guitar .container-guitars-b {
      margin-left: 370px;
      position: relative;
      bottom: 40px; }
      .guitars-container .guitars-container__guitar .container-guitars-b ol {
        padding-left: 0; }

.guitars-container__guitar.a {
  height: 212px;
  margin: 10px 10px 30px 10px; }

.guitars-container__guitar.b {
  height: 250px; }

.footer {
  background: #273b47;
  padding: 30px 10px 0 10px; }
  .footer .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .footer .contacto {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 300px;
    height: 200px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .footer .contacto .contacto__celular, .footer .contacto .contacto__correo {
      margin: 15px 15px 15px 0; }
  .footer .contacto__celular strong, .footer .contacto__img, .footer .contacto__correo strong {
    display: block; }
  .footer .contacto__celular, .footer .contacto__correo {
    color: white;
    text-decoration: none; }
  .footer .formulario {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 400px;
    color: white; }
    .footer .formulario label, .footer .formulario .sexo, .footer .formulario .intereses {
      margin-bottom: 10px; }
    .footer .formulario .sexo {
      margin-top: 10px; }
  .footer .col1, .footer .col2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .footer .col1 {
    margin-right: 30px; }
  .footer .col2 {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .footer .col2 textarea {
      margin-top: 10px; }
  .footer .intereses label {
    font-size: 12px; }
