@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Allerta');
//@import url('https://fonts.googleapis.com/css?family=Allerta');

body
{
  font-family: 'Allerta', sans-serif;
  margin: 0;
}

.container
{
  width: 80%;
  margin: 0 auto;
}

.header
{
  position: relative;
}
.header__logotipo, .menu, .menu__item
{
  display: inline-block;
}

.menu
{
  font-size: 24px;
  position: absolute;
  right: 0;

  & .menu__item
  {
    margin-left: 30px;
  }
}
.cover
{
  background-image: url("../images/background.png");
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;

  & .cover__title
  {
    font-size: 70px;
    margin-bottom: 0;
    margin-top: 70px;
  }
  & .cover__subtitle
  {
    font-size: 24px;
    margin-top: 0;
  }
  .cover__botton
  {
    background: #fd324e;
    background: linear-gradient(50deg, #fd324e, orangered);
    border: none;
    border-radius: 8px;
    color: white;
    margin-bottom: 70px;
    padding: .5em 1em;
    font-weight: bold;
    font-size: 1em;
  }
}

.guitars-container
{
  color: #1F313C;

  .guitars__title
  {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
  }

  .guitars-container__guitar--title
  {
    font-size: 50px;
    margin-bottom: 30px;
  }
  .guitars-container__guitar
  {
    border: 1px solid #1F313C;
    border-radius: 8px;
    margin: 10px;
   /*overflow: hidden;*/
    padding: 10px;

    .right
    {
      float: right;
      position: relative;
      top: -127px;
    }
    .left
    {
      float: left;
      position: relative;
      top: 80px;
    }

    .container-guitars-a
    {
      margin-left: 20px;

      & ol
      {
        padding-left: 0;
      }
    }
    .container-guitars-b
    {
      margin-left: 370px; // le di los 350 de la imagen mas 20 para que aplique 20px de margin

      & ol
      {
        padding-left: 0;
      }
    }
  }
}

.footer
{
  background: #273b47;
  & .contacto__celular strong, .contacto__img, .contacto__correo strong
  {
    display: block;
  }
  .contacto__celular, .contacto__correo
  {
    color: white;
    text-decoration: none;
  }
}