
.menu
{
  font-size: 24px;
}
.cover
{
  background-image: url("../images/background.png");
  color: white;

  & .cover__title
  {
    font-size: 80px;
  }
  & .cover__subtitle
  {
    font-size: 24px;
  }
}

.guitars-container
{
  color: #1F313C;

  .guitars__title
  {
    font-size: 35px;
  }

  .guitars-container__guitar h3
  {
    font-size: 50px;
  }
}
