@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Allerta');
//@import url('https://fonts.googleapis.com/css?family=Allerta');

body
{
  font-family: 'Allerta', sans-serif;
  width: 80%;
  margin: 0 auto;
}

.header__logotipo, .menu, .menu__item
{
  display: inline-block;
}

.menu
{
  font-size: 24px;

  & .menu__item
  {
    margin-left: 30px;
  }
}
.cover
{
  background-image: url("../images/background.png");
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;

  & .cover__title
  {
    font-size: 70px;
    margin-bottom: 0;
    margin-top: 70px;
  }
  & .cover__subtitle
  {
    font-size: 24px;
    margin-top: 0;
  }
  .cover__botton
  {
    margin-bottom: 70px;
  }
}

.guitars-container
{
  color: #1F313C;

  .guitars__title
  {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
  }

  .guitars-container__guitar--title
  {
    font-size: 50px;
    margin-bottom: 30px;
  }
}
